<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kinal App - Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:reft="@{/css/indes.css}">
</head>
<body>

<div class="container py-5">
    <header class="text-center mb-5">
        <h1 class="display-4 fw-bold text-primary">Sistema de Gestión Kinal</h1>
        <p class="lead">¿Qué deseas gestionar hoy?</p>
    </header>

    <div class="row g-4 justify-content-center">

        <div class="col-md-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body text-center">
                    <div class="mb-3">
                        <i class="display-4 text-primary bi bi-people"></i>
                    </div>
                    <h3 class="card-title">Clientes</h3>
                    <p class="card-text text-muted">Registro de DPI, nombres y direcciones.</p>
                    <a th:href="@{/clientes}" class="btn btn-primary w-100">Ir a Clientes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body text-center">
                    <div class="mb-3">
                        <i class="display-4 text-primary bi bi-people"></i>
                    </div>
                    <h3 class="card-title">Usuario</h3>
                    <p class="card-text text-muted">Gestión de credenciales, roles y accesos.</p>
                    <a th:href="@{/usuarios}" class="btn btn-primary w-100">Configurar Usuarios</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body text-center">
                    <div class="mb-3">
                        <i class="display-4 text-primary bi bi-people"></i>
                    </div>
                    <h3 class="card-title">Venta</h3>
                    <p class="card-text text-muted">Gestión de credenciales, roles y accesos.</p>
                    <a th:href="@{/usuarios}" class="btn btn-primary w-100">Configurar Usuarios</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body text-center">
                    <div class="mb-3">
                        <i class="display-4 text-primary bi bi-people"></i>
                    </div>
                    <h3 class="card-title">Producto</h3>
                    <p class="card-text text-muted">Gestión de credenciales, roles y accesos.</p>
                    <a th:href="@{/usuarios}" class="btn btn-primary w-100">Configurar Usuarios</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body text-center">
                    <div class="mb-3">
                        <i class="display-4 text-primary bi bi-people"></i>
                    </div>
                    <h3 class="card-title">Detalle Venta</h3>
                    <p class="card-text text-muted">Gestión de credenciales, roles y accesos.</p>
                    <a th:href="@{/usuarios}" class="btn btn-primary w-100">Configurar Usuarios</a>
                </div>
            </div>
        </div>


    </div>
</div>

<footer class="text-center mt-5 text-muted">
    <p>&copy; 2026 Fundación Kinal</p>
</footer>

</body>
</html>