<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/listarCliente.css}">
</head>
<body>

<h2>Gestión de Clientes - Kinal</h2>

<a th:href="@{/clientes/nuevo}" class="btn btn-nuevo">Añadir Nuevo Cliente</a>

<table class="tabla-clientes">
    <thead>
    <tr>
        <th>DPI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dirección</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${listaClientes}">
        <td th:text="${cliente.dpiCliente}"></td>
        <td th:text="${cliente.nombreCliente}"></td>
        <td th:text="${cliente.apellidoCliente}"></td>
        <td th:text="${cliente.direccion}"></td>
        <td>
            <a th:href="@{/clientes/editar/{id}(id=${cliente.dpiCliente})}" class="btn btn-editar">Editar</a>
            <a th:href="@{/clientes/eliminar/{id}(id=${cliente.dpiCliente})}" class="btn btn-eliminar">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/}" style="color: #007bff;">Volver al Inicio</a>

</body>
</html>